<!DOCTYPE html>
<html lang="te">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>ఆలయ దర్శనీయవేళలు</title>
    <link rel="stylesheet" href="pooja.component.css">

</head>

<body>
    <h1>ఆలయ దర్శనీయవేళలు</h1>
    <p>ఉ||గo 6:00 నుండి మ|| 1:00 గం|| వరకు సా||గo 3:00 నుండి రాత్రి 8:00 గం|| వరకు</p>
    
    <table id="seva-table">
        
        <thead>
            <tr>
                <th>S. No.</th>
                <th>Name of the Seva</th>
                <th>Cost</th>
                <th>Timings of Sevas performed</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>1</td>
                <td>Archana (Uphill)</td>
                <td>₹ 5.00</td>
                <td>06.00 am to 01.00 am & 03.00 pm to 08.00 pm</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Archana (Downhill)</td>
                <td>₹ 10.00</td>
                <td>06.00 am to 01.00 pm & 03.30 pm to 06.00 pm</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Asttotharam</td>
                <td>₹ 50.00</td>
                <td>03.00 pm to 08.00 pm</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Panchaharathi</td>
                <td>₹ 50.00</td>
                <td>01.15 pm to 01.30 am</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Annaprasana</td>
                <td>₹ 100.00</td>
                <td>06.00 am to 12.00 Noon</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Abhishekam</td>
                <td>₹ 100.00</td>
                <td>06.00 am to 12.15 Noon</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Aksharabhyasam</td>
                <td>₹ 100.00</td>
                <td>06.00 am to 1.00 am</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Heavy Vehicle Pooja (Uphill)</td>
                <td>₹ 200.00</td>
                <td>06.00 am to 01.00 am & 03.00 pm to 08.00 pm</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Heavy Vehicle Pooja (Downhill)</td>
                <td>₹ 200.00</td>
                <td>06.00 am to 01.00 am & 03.00 pm to 06.00 pm</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Light Vehicle Pooja (Uphill)</td>
                <td>₹ 50.00</td>
                <td>06.00 am to 01.00 am & 03.00 pm to 08.00 pm</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Light Vehicle Pooja (Downhill)</td>
                <td>₹ 50.00</td>
                <td>06.00 am to 01.00 am & 03.00 pm to 08.00 pm</td>

            </tr>
            <tr>
                <td>12</td>
                <td>Kesakhandana</td>
                <td>₹ 10.00</td>
                <td>06.00 am to 06.00 pm</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Moolavirat Abhishekam</td>
                <td>₹ 400.00</td>
                <td>In auspicious days at 05.00 am to 02.00 pm</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Mandapa Abhishekam</td>
                <td>₹ 150.00</td>
                <td>In auspicious days at 05.00 am to 02.00 pm</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Mahasivarathri Paroksha Abhishekam</td>
                <td>₹ 600.00</td>
                <td>Early Morning in Mahasivarathri Festival Day</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h2>POOJA SCHEMES</h2>
    <table id="pooja-schemes-table">
        <thead>
            <tr>
                <th>S. No.</th>
                <th>Name of the Scheme</th>
                <th>Cost</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Saswatha Abhishekam (10 years only)</td>
                <td>₹ 2116.00</td>
                <td>Pratyaksha/ Paroksha Abhishekam will be performed on the day as desired by the devotee once in a year (except on auspicious days)</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Saswatha Astottaram (10 years only)</td>
                <td>₹ 1116.00</td>
                <td>Pratyaksha/ Paroksha Astottaram will be performed on the day as desired by the devotee once in a year (except on auspicious days)</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Nitya Gotranam (1 year only)</td>
                <td>₹ 1116.00</td>
                <td>Nitya Gotranam will be chant daily early morning for one year</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Kartheekamasa Paroksha Abhishekam</td>
                <td>₹ 600.00</td>
                <td>Paroksha Abhishekam will be performed during kartheekamasam every day during the first abhishekam</td>
            </tr>
        </tbody>
    </table>

    <script src="script.js"></script>
</body>
</html>