:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url(https://images2.alphacoders.com/876/thumb-1920-876342.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; /* Prevent scrolling */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}
.profile-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.t1{
  padding: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  display: table; /* Ensure it behaves like a table */
  width: 100%;
  table-layout: fixed;  
}

.table-header-cell {
  padding: 10px;
  font-weight: bold;
}

.table-body {
  background-color: #fff;
  display: block;
  max-height: 400px; /* Adjust this height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.table-row {
  display: table;
  width: 100%;
  table-layout: fixed; /* Ensure columns do not resize */ 
  border-bottom: 1px solid #ccc;
}

.table-row:last-child {
  border-bottom: none;
}

.table-cell {
  padding: 10px;
  border-right: 1px solid #ccc;
  display: table-cell;
}

.table-cell:last-child {
  border-right: none;
}
