<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="register-container">
    <h2>REGISTRATION</h2>

    <!-- Display message -->
    <div *ngIf="message" [ngClass]="messageClass" class="message {{ messageClass }}">{{ message }}</div>

    <!-- Registration Form -->
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <div class="form-group">
        <label for="username">USERNAME</label>
        <input type="text" id="username" name="username" placeholder="username" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label for="email">EMAIL</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="email">
      </div>
      <div class="form-group">
        <label for="password">PASSWORD</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="password">
      </div>
      <button type="submit">REGISTER</button>
      <p>Already have an account? <a href="login">Login here</a></p>
    </form>
  </div>
</body>
</html>